<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APP开发者平台</title>
    <link rel="stylesheet" href="../../layui/css/layui.css">
</head>
<body>
<div>APP基础信息</div>
<div style="width: 400px;margin: 50px auto;">
    <form class="layui-form layui-form-pane1" action="" lay-filter="AppInfo">
        <div class="layui-form-item">
            <label class="layui-form-label">软件名称</label>
            <input type="hidden" name="id" autocomplete="off" class="layui-input">
            <script>document.getElementsByName("id")[0].value = location.search.substr(1)</script>
            <div class="layui-input-block">
                <input type="text" disabled name="softwareName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">APK名称</label>

            <div class="layui-input-block">
                <input type="text" disabled name="aPKName" readonly autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">支持ORM</label>

            <div class="layui-input-block">
                <input type="text" disabled name="supportROM" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">界面语言</label>

            <div class="layui-input-block">
                <input type="text" disabled name="interfaceLanguage" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">软件大小</label>

            <div class="layui-input-block">
                <input type="text" disabled name="softwareSize" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">下载次数</label>

            <div class="layui-input-block">
                <input type="text" disabled name="downloads" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">

            <label class="layui-form-label">所属平台</label>

            <div class="layui-input-block">
                <input type="text" disabled name="flatformName" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">所属分类</label>

            <div class="layui-input-block">
                <input type="text" disabled name="categoryLevel" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">APP状态</label>

            <div class="layui-input-block">
                <input type="text" disabled name="statusName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">应用简介</label>

            <div class="layui-input-block">
                <textarea type="text" disabled name="appInfo" autocomplete="off" class="layui-input"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">LOGO图片</label>
            <img id="imgPhoto">
        </div>
        <div class="layui-form-item">
            <button id='pass' class='layui-btn' lay-submit lay-filter='*'>审核通过</button>
            <button id="nopass" class="layui-btn search-btn" lay-submit lay-filter="*">审核不通过</button>
            <button type="button" id="back" class="layui-btn">返回</button>
        </div>
    </form>
</div>
<div>最新版本信息</div>
<div style="width: 400px;margin: 50px auto;">
    <form class="layui-form layui-form-pane1" action="" lay-filter="Version">
        <div class="layui-form-item">
            <input type="hidden" name="appId" autocomplete="off" class="layui-input">
            <!--<input type="hidden" name="id" autocomplete="off" class="layui-input">
            <script>document.getElementsByName("appId")[0].value = location.search.substr(1)</script>-->
            <label class="layui-form-label">版本号</label>

            <div class="layui-input-block">
                <input type="text" disabled name="versionNo" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">版本大小</label>

            <div class="layui-input-block">
                <input type="text" disabled name="versionSize" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">发布状态</label>

            <div class="layui-input-block">
                <input type="text" disabled name="publishStatusName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">版本简介</label>

            <div class="layui-input-block">
                <input type="text" disabled name="versionInfo" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">apk文件</label>

            <div class="layui-input-block">
                <a id="downloadLink"></a>
            </div>
        </div>
    </form>
</div>

<script src="../../layui/layui.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/interceptor.js"></script>
<script src="../../js/admin/checkApp.js"></script>
</body>
</html>